DISCORD_TOKEN=<your token goes here>
OLLAMA_API_KEY=<your api key goes here>
ENABLE_AI=yes
LLM_MODEL=gemma3:1b
LLM_HISTORY_WINDOW=100
# set to NONE for empty
LLM_INSTRUCTION=instruction/normal_kot.txt
