DISCORD_TOKEN=<your token goes here>
ENABLE_AI=yes
# api for web search (or non-local ollama)
OLLAMA_API_KEY=<your api key goes here>
# set to sth to use local ollama server
LLM_LOCAL_ONLY=
LLM_MODEL=gemma3:1b
LLM_HISTORY_WINDOW=100
# set to NONE for empty instruction
LLM_INSTRUCTION=instruction/kot.txt
