DISCORD_TOKEN=<your token goes here>
USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36 kot-skoffer/1.0"
FILE_HOSTING_SERVICE="0x0.st"
ENABLE_AI=yes
# api for web search (or non-local ollama)
OLLAMA_API_KEY=<your api key goes here>
# set to sth to use local ollama server
LLM_LOCAL_ONLY=
# default local server
OLLAMA_LOCAL_SERVER=http://localhost:11434
LLM_KEEP_MEDIA_TURNS=5
LLM_MODEL=gemma3:1b
LLM_HISTORY_WINDOW=100
# set to NONE for empty instruction
LLM_INSTRUCTION=instruction/kot.txt
